* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: solid 0.7px var;

}

h1 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}